@import url(http://fonts.googleapis.com/css?family=Istok+Web);

body {
  background: url('../images/purty_wood.png');
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.box {
  border-radius: 2px;
  padding-left: 25px;
  padding-top: 20px;
  opacity: 0.9;
}

header {
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: 'Istok Web', sans-serif;

}

.name {
  margin-top: 20px;
  font-size: 18px;
  color: #4d4d4d;
}


.about, .portfolio {
  margin-top: 80px;
  padding-bottom: 150px;
}

.other {
  margin-top: 150px;
  margin-bottom: 200px;
}


.left_about {
  height: 525px;
  background-color: #5FC872;
  position:relative;
}

.center_about {
  background-color: #F3701E;
  height: 220px;
  bottom: 0px;
  margin-top: 305px;
}

.right_about {
  background-color: #F3711E;
  height: 220px;
  margin-top: 305px;
}

.left_portfolio {
  background-color: #5FC872;
  height: 220px;
}

.center_portfolio {
  background-color: #5FC872;
  height: 220px;
}

.right_portfolio {
  background-color: #F3711E;
  height: 525px;
}

.port_up {
  margin-top: -219px;
  display: inline;
}

