@import url(http://fonts.googleapis.com/css?family=Istok+Web);

body {
  background: url('../images/carbon_fibre_big.png');
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.fixed {
  position: fixed;
  top:0;
  margin-top: 20px;
  right: 80px;
  z-index: 1;
}


.box {
  border-radius: 2px;
  padding: 15px 15px 0 15px;
  opacity: 0.8;
}

header {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: 'Istok Web', sans-serif;

}

.name {
  margin-top: 20px;
  font-size: 24px;
  color: #c0392b;
}


.about, .portfolio {
  margin-top: 50px;
  padding-bottom: 150px;
}

.other {
  margin-top: 80px;
  margin-bottom: 200px;
}


.left_about {
  height: 525px;
  background-color: #FFFF00;
  position:relative;
}

.center_about {
  background-color: #A2C1D5;
  height: 220px;
  bottom: 0px;
  margin-top: 305px;
}

.right_about {
  background-color: #A2C1D5;
  height: 220px;
  margin-top: 305px;
}

.left_portfolio {
  background-color: #FFFF00;
  height: 220px;
}

.right_portfolio {
  background-color: #A2C1D5;
  height: 680px;
}

.left_other {
  background-color: #FFFF00;
  height: 600px;
}

.right_other {
  background-color: #A2C1D5;
  height: 600px;
}

.port_up {
  margin-top: -219px;
  display: inline;
}


/*###################JKIT###################*/
/*Carousel*/
div.carousel {
  overflow: hidden;
  pointer-events: none;
  text-align: center;
  width: 100%;
  height: 150px;
}

div.carousel-item {
  float: left;
  width: 20%;
  height: 150px;
  background: #E01B49;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 200%;
}

div.carousel-item div {
  padding: 20px;
  border: 1px #fff solid;
  height: 110px;
}

a.jkit-carousel-prev, a.jkit-carousel-next {
  width: 40px;
  background: #eee;
  border: 1px #999 solid;
  color: #333;
  padding: 4px;
  cursor: pointer;
  cursor: hand;
  margin-top: 10px;
  text-align: center;
  user-select: none;
}

a.jkit-carousel-prev:hover, a.jkit-carousel-next:hover {
  background: #fff;
  border: 1px #666 solid;
  color: #000;
}

a.jkit-carousel-prev {
  float: left;
}

a.jkit-carousel-next {
  float: right;
}
